.App {
  background-color: rgb(217, 227, 245);
}


h3 {
  padding-bottom: 20px;
  font-size: 50px;
  color: #3A405A;
}

.navbar{
  font-size: 30px;
  padding-left: 50px;
  padding-right: 50px;
  color: #F9DEC9;
}

.navheader {
  font-size: 65px;
  color: #685044;
}

.navlink {
  font-size: 30px;
  color: #685044;
  padding: 10px;
  padding-left: 15px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #F9DEC9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
padding-top: 25px;
padding: 30px;
}

label {
  color: #3A405A;
  font-size: 25px;
}

.thead {
  color: #685044;
  font-size: 25px;
}

.tbody {
  color: #685044;
  font-size: 15px;
}


